{% extends "hello.html" %}
{% block body %}
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    </section>
<body style="background-image: url('{{url_for('static',filename='assets/img/com.jpg')}}')">
    <div style="margin: auto; width: 50%; ">
        <h2>ADD Book</h2>
 <form id="contactForm" data-sb-form-api-token="API_TOKEN" action = "/edit/{{book.b_id}}" method="post" style="opacity: 60%;margin-top:2%;">
                                 <div class="form-floating">
                                    <input class="form-control" id="b_id" placeholder="b_id" data-sb-validations="required" name="book_id" value="{{book.b_id}}"  />
                                    <label for="b_id" style="color: blue;">Book_id</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="bookname" placeholder="bookname" data-sb-validations="required" name="name" value="{{book.name}}" />
                                    <label for="name" style="color: blue;">Book_Name</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" name="writer" value="{{book.writer}}" />
                                    <label for="name" style="color: blue;">Writer</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>

                                 <div class="form-floating">
                                    <input class="form-control" id="copy" placeholder="Enter your prn number..." data-sb-validations="required" name="copy" value="{{book.copy}}" />
                                    <label for="copy" style="color: blue;">Copy</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">A prn is required.</div>
                                </div>


                        
                                
                                
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                               <button class="btn btn-primary " id="submitButton" type="submit" >Apply</button> 

                            </form>
</div>

{% endblock %}